// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header{
    ion-navbar{
        ion-title{
            p.ptitle{
                font-family: "Roboto";
                font-size: 17px;
                font-weight: 300;
                font-style: normal;
                color: $yellow1 !important;
                margin: 0;
            }
        }
    }
}

ion-content{
    background-color: $grey !important;
}


button{
    font-family: "Roboto" !important;
    font-weight: normal;
    font-style: normal;
    text-transform: none !important;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: "Roboto";
    font-weight: 300;
    line-height: 1.2;
}

p{
    color: black;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

.text-right{
    text-align: right;
}
.calm-bg{
    background-color: $calm !important;
}

.royal-bg{
    background-color: $royal !important;
}

.primary-bg{
    background-color: $primary !important;
}

.light-bg{
    background-color: white !important;
}

.dark-bg{
    background-color: $dark1 !important;
}