page-testday{
    ion-content{
        .header-container{
            text-align: center;

            ion-icon{
                font-size: 45px;
            }
        }
        .btn-start{
            background-color: $yellow1 !important;
            color: $dark1;
        }

        .btn-skip{
            background-color: transparent !important;
            color: $dark1;
        }
    }
}